/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

/* Estilos do cabeçalho */
header {
    background-color: white;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    max-width: 100px;
}

.menu ul {
    list-style: none;
    margin: 0;
    margin-right: 50px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Estilos da seção principal */
.main {
    padding: 20px;
}

#map {
    height: 75%;
  }

.conteudo
{
    height: 700px;
    margin:50px;
    border:solid 1px;
}